body{
text-align: center;
color: maroon;
background-color: beige;
    font-size: 20px;
}  
#image1{
width: 727px;
border: 2px;
}

h1{
    font-family: 'Rubik', sans-serif;
}
a {
     background-color:whitesmoke;
    font-family: 'Trirong', serif;
  font-size: 20px;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: green;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: darkblue;
}
p{
    color:green;
}